{% extends 'core/base.html' %}

{% block titulo %}
    Cliente
{% endblock titulo %}

{% block contenido %}
<div class="fs-3">
    <a href="{% url 'cliente:cliente_create' %}">Crear un Cliente</a>
</div>
<div class="row">
    {% for cliente in clientes %}
        <div class="col-lg-6 mb-3"> <!-- Ajusta el número de columnas según tus necesidades -->
            <div class="card text-bg-primary">
                <div class="card-header">
                    <h2>{{ cliente.nombre }}</h2>
                    <p>{{ cliente.apellido }}</p>
                </div>
                <div class="card-body">
                    <p>{{ cliente.nacimiento }}</p>
                    {% if cliente.pais_origen_id %}
                        <p>{{ cliente.pais_origen_id }}</p>
                    {% else %}
                        <p>No registra país de origen.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock contenido %}
