{% extends 'core/base.html' %}

{% block titulo %}
    Cliente
{% endblock titulo %}

{% block contenido %}
<div class="row">
        {% for cliente in clientes %}
        
            <div class="col-md-6 mb-4">
                <div class="card text-bg-primary">
                    <div class="card-header">
                        <h2 class="card-title">{{ cliente.nombre }}</h2>
                        <p>{{ cliente.apellido }}</p>
                    </div>
                    <div class="card-body">
                        <p>{{ cliente.nacimiento }}</p>
                        {% if cliente.pais_origen_id %}
                            <p>{{ cliente.pais_origen_id }}</p>
                        {% else %}
                            <p>No registra país de origen.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
   </div>
{% endblock contenido %}
